:root {
  --Blue: #45a29e;
  --Light-Blue: #66fcf1;
  --Silver: #c5c6c7;
  --Black: #0b0c10;
  --Light-Black: #1f2833;
}

* {
  transition: 0.3s;
  scroll-behavior: smooth;
}

body,
html {
  padding: 0px;
  margin: 0px;
  overflow: none;
  background-color: rgb(17, 17, 17);

  font-family: Arial, Helvetica, sans-serif;
}

div {
  padding: 0px;
  margin: 0px;
}

ul,
li {
  text-decoration: none;
  list-style: none;

  padding: 0px;
  width: auto;
}

section {
  text-align: center;
}

button {
  border: none;
  background-color: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

i {
  padding: 15px;
}

p {
  font-size: 10px;

  letter-spacing: 1px;
}

img {
  width: 100%;
  height: auto;
}

small {
  color: var(--Light-Blue);
  font-size: 10px;
}

/* MISC */

.lightbox {
  width: 100%;
}

.lightbox img {
  max-width: 100%;
}

.lightbox li {
  width: 0%;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  width: 50%;
  position: absolute;

  text-align: center;
}

.background-middle {
  opacity: 0.7;
  background-color: white;
}

.background-middle a {
  font-size: 26px;
  font-weight: bold;
  color: #51a59a;
}

.background-middle img {
  max-width: 50px;
}

.background-middle:hover,
a {
  opacity: 1;
}

.middle div {
  position: absolute;
  color: var(--Light-Black);
  font-size: 16px;
  width: 50%;
  padding: 16px 32px;
  bottom: 50%;
}

.middle p {
  font-weight: bold;
  font-size: 20px;
  color: var(--Light-Black);
}

@keyframes right_to_left {
  from {
    margin-left: 10vw;
  }
  to {
    margin-left: 0;
  }
}

@keyframes left_to_right {
  from {
    margin-left: -5vw;
  }
  to {
    margin-left: 0;
  }
}

.lightbox:hover img {
  opacity: 0.4;
}

.lightbox:hover .middle {
  opacity: 1;
  transition: 0.5 ease;
}

.lightbox:hover .slide-right {
  animation: right_to_left 0.5s ease;
}

.lightbox:hover .slide-left {
  animation: left_to_right 0.5s ease;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Light-Blue);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--Blue);
}

.underline {
  width: 5rem;
  height: 2px;
  margin: 0px auto;
  background: var(--Black);
}

.container {
  padding: 50px;
}

/* navbar */
#navbar {
  position: fixed;
  color: white;
  background-color: var(--Light-Black);
  border-bottom: solid var(--Light-Blue) 2px;
  font-size: 10px;

  display: grid;
  grid-template-columns: repeat(2, auto);

  margin: 0px;

  filter: blur(0.001px);
  display: grid;
  width: 100%;
  height: 8vh;
  min-height: 8vh;
  max-height: 10vh;
}

#navbar img {
  width: 100%;
  height: auto;
  max-width: 10%;
  padding: 10px 15px 30px 15px;
}

.navbar-grid {
  margin: 0px 5px 0px 15px;
  padding: 0px 10;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0px;
  width: 60px;

  text-align: center;
}

.nav-item {
  padding: 10px 0px 17px 0px;
  margin: 0px auto;
  width: 100px;
  height: auto;

  text-align: center;
}

.navbar-grid a {
  color: var(--Light-Blue);

  font-size: 20px;
}

.navbar-grid:hover a {
  color: var(--Light-Blue);
  cursor: pointer;
}

.nav-item:hover {
  cursor: pointer;
  background-color: var(--Light-Black);
}
/* grid */

.grid-column-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0;
}

.grid-column-1 {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 0;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(1, auto);
}

.grid-images {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 0px;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
/* intro */
#intro {
  background-image: url(./images/bg-image.gif);
  background-size: cover;
  background-color: rgb(17, 17, 17);

  height: auto;
  min-height: 70vh;
  width: 100%;

  margin: 0px;
}

@media screen and (max-device-width: 596px) {
  #intro {
    margin-bottom: 5rem;
    min-height: 40vh !important;
  }
}

@media screen and (max-device-width: 300px) {
  #intro {
    min-height: 25vh !important;
  }
}

.background {
  padding: 15rem 10px 0px 10px;
  font-size: 30px;
  text-align: center;
  color: var(--Silver);
}
.background b {
  color: var(--Light-Blue);
}

.background h1 {
  margin: 35px;
}

.intro-button {
  padding: 5px 25px 5px 25px;
  background-color: transparent;
  border: solid var(--Silver) 2px;
  opacity: 100%;
  font-size: 25px;
  font-weight: 16px;

  display: inline-block;
}

.intro-button {
  color: white;
}

.intro-button:hover {
  background-color: var(--Silver);
}
.intro-button:hover {
  color: var(--Black);
}

/* about */
#about {
  background-color: white;
}

.about {
  padding: 0px 2rem 0px 2rem;
}

.about img {
  margin: 10px;
}

.profile {
  border-radius: 80%;
  max-width: 50%;
  padding: 5px;
  border: solid var(--Blue) 3px;
}

.AT {
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  color: #1f2833;
}

.about-icon {
  max-width: 40%;
}

.languages {
  display: grid;
  grid-template-columns: repeat(4, auto);
  color: var(--Blue);
}

.languages li {
  font-weight: bold;
  font-size: 15px;
  padding: 20px;
}

.about p {
  font-size: 23px;
  font-weight: 30px;
  padding: 10px;
}

.about h1 {
  padding-top: 15px;
  font-size: 35px;
}

/* works */

#works {
  background-color: var(--Silver);
  padding: 10px;
}

.work-container {
  margin: 26px;
  padding: 20px;
  background-color: white;
}

#works h1 {
  padding: 15px 0px;
  font-size: 35px;
}

/* contact */
#contact {
  color: white;
  padding: 45px;
  border-top: solid var(--Black) 5 px;
}

#contact ul {
  margin: 40px 0vw 40px 20vw;
  text-align: center;
  width: 0px;
}

#contact li {
  width: 10rem;
}

.media a {
  width: 20px;
  margin-top: 3rem;
  padding: 1rem;
  font-size: 25px;
  color: var(--Blue);
  opacity: 0.4;
  background-color: var(--Black);
}

.media:hover a {
  background-color: #2d3f55;
  color: var(--Light-Blue);
  font-size: 25px;
}

.email {
  padding: 16px;
}

/* footer */

.copyright {
  padding-top: 19px;
  text-align: center;
}
