@media screen and (min-width: 768px) {
  .languages {
    grid-template-columns: repeat(2, auto);
  }
  .about-icon {
    max-width: 50%;
  }

  .grid-column-2 {
    grid-template-columns: repeat(1, auto);
  }

  .grid-images {
    grid-template-columns: repeat(1, auto);
  }

  .navbar-grid {
    margin-top: 0px;
  }

  #navbar div {
    width: 100px;
    padding: 0px;
  }

  #navbar a {
    font-size: 1.5rem;
    width: 100%;
    padding: 0px;
  }

  #navbar img {
    max-width: 100px;
  }

  .nav-item {
    grid-template-columns: none;
    padding: 10px 0px 39px 0px;
    margin: 0px;
  }
  .work-container {
    color: white;
    background-color: #c5c6c7;
    margin: 0px;
    padding: 0px;
  }

  .contact-grid {
    margin: 0px;
  }

  #contact ul {
    font-size: 6rem;
    margin: 10px 0px 10px 13vw;
  }

  #contact li {
    font-size: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .nav-item {
    padding: 3px 5px 5px 5px;
    margin: 0px;
  }
}

@media screen and (min-width: 425px) {
  #navbar img {
    max-width: 70px;
  }

  #navbar a {
    font-size: 1.5rem;
  }

  .nav-item {
    padding: 10px 5px 10px 0px;
    margin: 0px;
  }
}
